# BD
DATABASE_URL = postgresql://postgres@localhost:5432/react-lab?schema=public

# app
NEXT_PUBLIC_SITE_URL = http://localhost:3000

# next-auth
NEXTAUTH_SECRET = sghdfkjsgdfksd
NEXTAUTH_URL = http://localhost:3000

# content api (для внешних агентов, заголовок Authorization: Bearer <секрет>)
CONTENT_API_SECRET = jk34h6k4j3h56l345l6k3h45l635k4j

# email
EMAIL_HOST = smtp.example.com
EMAIL_PORT = 587
EMAIL_SECURE = false
EMAIL_USER = user@example.com
EMAIL_PASSWORD = password
EMAIL_FROM = noreply@example.com