# BD
DATABASE_URL = postgresql://postgres@localhost:5432/react-lab?schema=public

# app
NEXT_PUBLIC_SITE_URL = http://localhost:3000

# next-auth
NEXTAUTH_SECRET = sghdfkjsgdfksd
NEXTAUTH_URL = http://localhost:3000

# email
EMAIL_HOST = smtp.example.com
EMAIL_PORT = 587
EMAIL_SECURE = false
EMAIL_USER = user@example.com
EMAIL_PASSWORD = password
EMAIL_FROM = noreply@example.com